<div class="parent" id="top">
  <h1>Listado de Pokemon</h1>
  <div class="row space-between">
    <div class="search-box">
      <i class="fa-solid fa-magnifying-glass box-icon"></i>
      <input type="text" name="search" placeholder="Buscar" (keydown.enter)="searchPokemon($event.target)">
    </div>
    <div>
      <button class="btn space-around bg-primary-color" [ngClass]="{'btn-disabled': !btnActive }" (click)="newPokemon()">
        <i class="fa-solid fa-plus button-icon"></i> Nuevo
      </button>
    </div>

  </div>
  <br/>
  <app-pokemon-list [pokemonList]="pokemonFiltered" id="pokemonList"></app-pokemon-list>
  <br>
  <app-new-pokemon *ngIf="!btnActive" (changeBtn)="disableBtn($event)"></app-new-pokemon>

  <!--  -->
</div>

<!-- <router-outlet></router-outlet> -->
